$("<h4 class='bg-danger'>Email and password mismatched. Try again.</h4>").hide().appendTo("h1").fadeIn(999);
$("h4").remove();
$("<h4 class='bg-danger'>Email and password mismatched. Try again.</h4>").hide().appendTo("h1").fadeIn(999);
