$("<h4 class='bg-danger'>Please make sure everything is filled in correctly and try again ;)</h4>").hide().appendTo("h1").fadeIn(999);
$("h4").remove();
$("<h4 class='bg-danger'>Please make sure everything is filled in correctly and try again ;)</h4>").hide().appendTo("h1").fadeIn(999);
