$("<h4 class='text-danger'>You already applied for this job!</h4>").hide().appendTo("#apply-btn").fadeIn(999);
$("h4").remove();
$("<h4 class='text-danger'>You already applied for this job!</h4>").hide().appendTo("#apply-btn").fadeIn(999);
