@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

.navbar {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: ghostwhite;
	margin-bottom: 0;
}

.textarea {
	white-space: pre-line;
}

.margin-top {
	margin-top: 10rem;
}

.padding-btm {
	padding-bottom: 1.5rem;
}

.padding {
	padding: 3rem;
}

a, a:visited {
	text-decoration: none;
	color: grey;
}

a:hover, a:active {
	text-decoration: none;
	color: black;
}

